
.list-row{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.list-row:hover{
    background-color: var(--darkgrey);
    transition: all 0.3s;
}

.list-row td{
    padding: 0.5rem; 
    text-align: left;
    width: 18%;
}

.td-icon {
    width: 1.5rem; /* Set fixed width */
    height: 1.5rem; /* Set fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Prevents shrinking */
}

.td-image{
    width: 3rem ;
    margin-right: 1.5rem;
}

.td-right-align{
    text-align: right;
}

.td-center-align{
    text-align: center;
}

.mobile-td-mkt{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .td-icon{
        display: none;
    }
}



@media only screen and (max-width: 960px) {

    .list-row td{
        gap: 3rem;
    }

    .coin-logo{
        width: 2rem !important;
        height: 2rem;
    }

   
    .coin-symbol,
    .coin-name,
    .price-chip,
    .coin-price{
        font-size: small;
        margin-left: 4px;
        padding: 2px 5px;
       
    }

    
}

@media only screen and (max-width: 830px) {
    .td-total-volume{
       display: none;
    }
}

@media only screen and (max-width: 650px) {

    .desktop-td-mkt{
        display: none;
    }

    .mobile-td-mkt{
        display: block;
    }
}

@media only screen and (max-width: 575px) {

    .coin-symbol,
    .coin-name,
    .price-chip,
    .coin-price{
        font-size: x-small;
        margin-left: 2px;
        padding: 1px 3px;
       
    }

}

@media only screen and (max-width: 520px) {

    .mobile-td-mkt{
        display: none;
    }

    .coin-symbol,
    .coin-name,
    .price-chip,
    .coin-price{
        font-size: x-small;
        margin-left: 2px;
        padding: 1px 3px;
       
    }

}

@media only screen and (max-width: 350px) {

    .coin-logo{
        width: 1.5rem !important;
        height: 1.5rem;
    }
    .coin-symbol,
    .coin-name,
    .price-chip,
    .coin-price{
        font-size: x-small;
        margin-left: 1px;
        padding: 1px 1px;
    }
}



